<!DOCTYPE html>
<html>
<head>

  <title>{{ title }}</title>

  <style>

    body { font-family: system-ui; max-width: 800px; margin: 0 auto; padding: 2rem; }

    nav { margin-bottom: 2rem; }

    button { padding:1rem; font-size:1.2rem; cursor:pointer; }

  </style>

</head>

<body>

  <nav>

    <a href="./fortune/">Fortune Teller</a>
<a href="./work/">Archive</a>
<a href="./links/">Curiosity</a>

  </nav>

  {{ content | safe }}

</body>

</html>

