<!DOCTYPE html>
<html>
<head><title>fcksht</title></head>
<body>
  <h1>fcksht</h1>
  
  <h2>shop</h2>
  <ul>
  {%- for item in collections.shop %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a> {{ item.data.price }}</li>
  {%- endfor %}
  </ul>
  
  <ul>
    <li><a href="/fortune/">fortune teller</a></li>
    <li><a href="/work/">work</a></li>
    <li><a href="/links/">links</a></li>
  </ul>
</body>
</html>
