<!DOCTYPE html>
<html>
<head><title>fcksht</title></head>
<body>
  <h1>fcksht</h1>
  <h2>SHOP</h2>
  <ul>
    <li><a href="/shop/eye-of-god">Eye of God</a></li>
  </ul>
  <h2>GARDEN</h2>
  <ul>
    <li><a href="/garden/fortune">Fortune Teller</a></li>
  </ul>
</body>
</html>